{{define "footer"}}
<footer id="Footer" class="Flex-Row-Space-Between">
  <div>
    <div class="House-Of-Bosons-Logo">
      <div class="Flex-Row-Center">
      <div class="House-Of-Bosons-Logo-Circle"></div>
        <div class="House-Of-Bosons-Logo-Text">
          <span class="HOB-Logo-B">H</span><span>ouse</span>
          <span>of</span>
          <span class="HOB-Logo-B">B</span><span>osons</span>
        </div>
      </div>
    </div>
  </div>

  <div class="Footer-Sec">
    <!-- <p class="Footer-Sec-Header">Connect</p> -->
    <div class="Flex-Row-Space-Between">
      <a href="https://www.facebook.com/housebosons" target="_blank"><div class="Footer-Sec-Social-Btn"><i class="fab fa-facebook-f"></i></div></a>
      <a href="https://twitter.com/houseofbosons" target="_blank"><div class="Footer-Sec-Social-Btn"><i class="fab fa-twitter"></i></div></a>
      <a href="https://www.instagram.com/houseofbosons" target="_blank"><div class="Footer-Sec-Social-Btn"><i class="fab fa-instagram"></i></div></a>
      <a href="https://www.linkedin.com/company/houseofbosons" target="_blank"><div class="Footer-Sec-Social-Btn"><i class="fab fa-linkedin-in"></i></div></a>
    </div>
  </div>
</footer>
{{end}}

<!-- <span>o</span>f <span>B</span>osons -->