<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{template "head-links"}}

  <meta name="og:title" property="og:title" content="{{.SubPost.Title}}">
  <meta name="og:type" property="og:type" content="article">
  <meta name="og:description" property="og:description" content="{{.SubPost.Description}}">
  <meta name="og:image" property="og:image" content={{.SubPost.Thumbnail}}>
  <meta name="description" content="{{.SubPost.Description}}">

  <title>{{.SubPost.Title}} | House of Bosons</title>
</head>
<body>

    {{template "header" .SubPost}}

    <header class="Each-Post-Header">
      <div class="Each-Post-Thumbnail-Div" style="background-image: url({{.SubPost.Thumbnail}})"><div></div></div>
      <div class="Each-Post-Header-About">
        <h1>{{.SubPost.Title}}</h1>
        <p class="Each-Post-Thread-Title-Index">Part {{.OneBasedIdx}} - <strong>{{.Post.Title}}</strong></p>
        <div class="Flex-Row-Start">
          <span class="Each-Post-FormattedDate">{{.SubPost.FormattedDate}}</span>
          <button class="Social-Share-Btn-FB Flex-Row-Center"><i class="fab fa-facebook-square"></i> Share</button>
          <button class="Social-Share-Btn-TW Flex-Row-Center"><i class="fab fa-twitter"></i> Tweet</button>
        </div>
      </div>
    </header>
      
      <div class="Each-Post-Page-Body Flex-Column-Center">
        
      <article class="markdown-body">
        {{.HTML}}
      </article>      
        
      <div class="Each-Post-Floating-Div">
        <button class="Like-Btn" postid="{{.Post.IDStr}}{{.NavCurrent}}">
          <i class="fas fa-thumbs-up"></i>
        </button>
        <p class="Like-Btn-Text">Like</p>
      </div>
    
      <div class="Each-Post-Bottom-Share-Btns-Cont Flex-Row-Start">
        <button class="Social-Share-Btn-FB Flex-Row-Center"><i class="fab fa-facebook-square"></i>Share</button>
        <button class="Social-Share-Btn-TW Flex-Row-Center"><i class="fab fa-twitter"></i>Tweet</button>
        <button class="Social-Share-Btn-Copy Flex-Row-Center"><i class="fas fa-link"></i>Copy</button>
      </div>
    </div>

    <div class="Posts-Page-List-Page-Navigator Flex-Row-Center">
      {{$curr := .NavCurrent}}
      {{range $i, $a := .NavArray}}
        {{if .B}}
          <button navvar="index" navto="{{.V}}" class="Posts-Page-Navigator-Btn {{if eq .V $curr}}Posts-Page-Navigator-Btn-Current{{end}}">{{.V}}</button>
        {{else}}
          <button navvar="index" class="Posts-Page-Navigator-Dot"></button>
          <button navvar="index" class="Posts-Page-Navigator-Dot"></button>
          <button navvar="index" class="Posts-Page-Navigator-Dot"></button>
        {{end}}
      {{end}}       
    </div>
            
    {{template "footer"}}

    <script src="/static/lib/main.js"></script>
</body>
</html>