<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{template "head-links"}}
  <title>{{.Status}} | House of Bosons</title>
</head>
<body>

    {{template "header"}}

    <div class="Container-Center">
        <div class="Error-Msg-Div">
          <h1>{{.Message}}, {{.Status}}</h1>
          <p>Go back to <a href="/">home</a></p>
        </div>
    </div>

    {{template "footer"}} 
       
    <script src="/static/lib/main.js"></script>
    
</body>
</html>