<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">  
  {{template "head-links"}}
  <title>House of Bosons</title>
</head>
<body>

    {{template "header"}} 
    
    <div class="Index-Page-Body Flex-Row-Center">
      <div id="Index-Page-Options">
        <h1>House of Bosons</h1>
        <p>A Science-blog on Physics, Math, Astronomy & More.</p>
        <div>
          
          <a href="/posts"><button class="Type-0-Btn-Blue">Read Blogs</button></a>
          <a id="Index-Page-Options-Side-Link" href="/about">Learn more</a>
        </div>
      </div>
      <object id="Index-Svg-Reading" data="/static/undraw-reading.svg" type="image/svg+xml" width="400"></object>
    </div>

    {{template "footer"}} 
       
    <script src="/static/lib/main.js"></script>
    
</body>
</html>
