<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Source+Sans+Pro|Ubuntu&display=swap" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href="/static/favicon.ico"/>
  <link rel="stylesheet" href="/static/lib/var1.css">
  <link rel="stylesheet" href="/static/lib/classes.css">
  <link rel="stylesheet" href="/static/lib/styles.css">
  <link rel="stylesheet" href="/static/lib/posts.css">
  <script async src="/static/lib/fontawesome.js"></script>
  <title>Blogs | House of Bosons</title>
</head>
<body>

    {{template "header"}}

    <div class="Posts-Page-Body">
        <div class="Posts-Page-List Flex-Column-Space-Between">  
          <div>
            {{range .Posts}}
            {{template "posts-item" .}}
            {{end}}
          </div>
          
          <div class="Posts-Page-List-Page-Navigator Flex-Row-Center">
            {{$curr := .NavCurrent}}
            {{range $i, $a := .NavArray}}
              {{if .B}}
                <button navto="{{.V}}" class="Posts-Page-Navigator-Btn {{if eq .V $curr}}Posts-Page-Navigator-Btn-Current{{end}}">{{.V}}</button>
              {{else}}
                <button class="Posts-Page-Navigator-Dot"></button>
                <button class="Posts-Page-Navigator-Dot"></button>
                <button class="Posts-Page-Navigator-Dot"></button>
              {{end}}
            {{end}}       
          </div>
        </div>
        <div class="Posts-Page-Tools">
          <p class="Posts-Page-Tools-Header">Filter by Topics</p>
          <div class="Posts-Page-Tools-Option-Box">

            {{if .TopicSel}}
              <div class="Option-Btn-All"><a href="/posts">All</a></div>          
            {{end}}
            {{$selected := .TopicSel}}
            {{range .Topics}}
              <div class="Option-Btn {{if eq .Title $selected}}Option-Selected{{end}}"><a disabled="true" >{{.Title}}</a></div>
            {{end}}
          </div>
        </div>

    </div>   
            
    {{template "footer"}}

    <script src="/static/lib/main.js"></script>
</body>
</html>